<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <hr>
    <nav>
      <ul>
        <li><a href="/prueba" target="_blank">Prueba</a></li>
        <li><a href="/nosotros" target="_blank">Nosotros</a></li>
        <li><a href="/contacto" target="_blank">Contacto</a></li>
      </ul>
    </nav>
    <hr>
  </body>
</html>
